<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appsdk"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <application
   >

        <activity
            android:name="com.application.activities.FeedPostDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" >
        </activity>
        <activity
            android:name="com.application.activities.FeedPostActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" >
        </activity>
        <activity
            android:name="com.application.activities.FacebookAuthenticationActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>

        <activity
            android:name="com.application.activities.FacebookLoginActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <receiver android:name="com.application.bg.ConectivityReciver"  >
            <intent-filter>
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
                <action android:name="com.application.app.LOCATION_RECIVER" />
                <action android:name="com.application.app.STOP_LOCATION_RECIVER" />
            </intent-filter>
        </receiver>

        <service android:name="com.application.bg.LocationUpdaterService" >
        </service>


        <uses-library
            android:name="com.google.android.maps"
            android:required="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCFLivP0WgN67jcL1qa5BBz-wFe55011WY" />
    </application>

</manifest>
